body{
  margin: auto;
}
/* стили для header сайта */
.container-header{
  width: 860px;
  margin: 0 auto;
}
.logo{
  display: inline-flex;
  padding: 28.33px 0 28.72px 0;
}
.logo-img{
  padding-right: 12.5px;
}
nav{
  display: inline-flex;
}
.menu{
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
}
.menu-item-main{
  list-style: none;
  color: rgb(31, 32, 65);
  font-weight: 600;
}
.menu-item{
  list-style: none;
  padding-left: 20px;
  color: rgba(31, 32, 65,.25);
  font-weight: 500;
}
.btn-login{
  width: 87px;
  height: 34px;
  border-radius: 22px;
  border: 2px solid  #BC9CFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  background-color: #FFFFFF;
}

.btn-registration{
  width: 196px;
  height: 34px;
  border-radius: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  color: #FFFFFF;
}
/*стили для основного контента landing-page*/
.container-center{
  background: url(../img/bg-landing-page.png);
  height: 1022px;

}
.container-center-card{
  width: 380px;
  margin-left: 187px;
  height: 374px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.container-center-card h1{
  width: 320px;
  margin: 40px 30px 0px 30px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.container-center-card-p{
  display: inline-flex;
  padding-left: 30px;
}
.container-center-card p{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-right: 20px;
  font-size: 12px;
  line-height: 15px;
/* identical to box height */
  text-transform: uppercase;
  color: #1F2041;
}
.calendar{
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65,.25);
}
.container-center-card				nav ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
			    }
.container-center-card				nav ul li a{
  text-decoration: none;
}
.container-center-card			nav ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
			}
.container-center-card			nav ul li:hover > ul {
			    display:inherit;
			}

			/* первый уровень выпадающего списка */
.container-center-card			nav ul ul li {
			    min-width:170px;
			    float:none;
			    display:list-item;
			    position: relative;
			}
