
body{
  margin: auto;
  width: 1440px;
}
/*добавление шрифтов*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* стили для header сайта */
.container-header{
  width: 1160px;
  height: 70px;
  margin: 0 auto;
}
.logo{
  display: inline-flex;
  align-items: center;
  padding-top: 15px;

}
.logo-img{
  padding-right: 12.5px;
  width: 40px;
}
.logo-toxin{
  width: 53.19px;
  height: 12.95px;
}
.clear{
  clear: both;
}
nav{
  display: inline-flex;
  position: relative;
  bottom: 16px;
  margin-left: 225.31px;
}
.menu{
  display: inline-flex;
}
.menu-item{
  list-style: none;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.menu-item a{
  text-decoration: none;
  color: rgba(31, 32, 65,.25);
}
.menu-item a:hover{
    color: rgb(31, 32, 65);
}
.btn-login{
  position:relative;
  width: 87px;
  height: 34px;
  margin-left: 20px;
  border-radius: 22px;
  border: 2px solid  #BC9CFF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #BC9CFF;
  background-color: #FFFFFF;
  bottom: 18px;
}

.btn-registration{
  position:relative;
  width: 196px;
  height: 34px;
  border: none;
  border-radius: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  color: #FFFFFF;
  bottom: 18px;
}
/*стили для основного контента landing-page*/
.container-center{
  background: url(../img/bg-landing-page.png);
  height: 830px;

}
.container-center-card{
  position: relative;
  top: 70px;
  width: 380px;
  margin-left: 187px;
  height: 374px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.container-center-card h1{
  width: 320px;
  margin: 40px 30px 0px 30px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.container-center-card-p{
  display: inline-flex;
  padding-left: 30px;
}
.container-center-card p{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-right: 20px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
/*Стилизация datepicker*/
.datepicker{
  margin-top: 5.54px;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  background-image: url('../img-svg/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: 89% 50%;
}
.ui-datepicker {
  width: 320px;
  background: #ffffff;
  font: 9pt "Montserrat", sans-serif;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin-top: 5.56px;
  height: 369px;
}
.ui-datepicker a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.25);
}

.ui-datepicker-header {
  color: #1F2041;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  margin-top: 20px;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-prev , .ui-datepicker-next{
  display: inline-block;
  width: 23.93px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}
.ui-datepicker-prev {
  float: left;
  background-position: 60% 100%;
  background-image: url('../img-svg/arrow-calendar-prev.svg');
}
.ui-datepicker-next {
  float: right;
  background-position: 80% 100%;
  background-image: url('../img-svg/arrow-calendar-next.svg');
}
.ui-datepicker th {
  padding-left: 23px;
  padding-top: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #BC9CFF;
  font-family: "Quicksand", sans-serif;
}
/**/
.container-center-cart-gost{
  padding-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.menu-guest-nav{
  width: 320px;
  height: 44px;
  margin: 0 auto;
}

.menu-guest li{
  list-style: none;

}
.menu-guest-nav > ul > li{
 float: left;
 width: 320px;
 position: relative;
}
.menu-guest-nav li a{
 display: block;
 border: 1px solid rgba(31, 32, 65, 0.25);
 border-radius: 4px;
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
 font-size: 12px;
 line-height: 15px;
 color: rgba(31, 32, 65,.75);
 text-decoration: none;
}
.menu-guest-nav li .menu-guest-item{
 display: none;
 position: absolute;
 top: 100%;
}
.menu-guest-nav li:hover .menu-guest-item{
 display: block;
}
.container-center-card-btn{
  width: 320px;
  height: 44px;
  position: relative;
  left: 30px;
  border-radius: 22px;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  border: none;

  text-transform: uppercase;
}
.img-arrow{
  float: right;
  text-align: center;
  margin-right: 5px;
}
.container-center-p{
  width: 297px;
  height: 48px;
  position: absolute;
  left: 1009px;
  top: 834px;
}
.container-center-p p{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
}
/*Стили для footer*/
.logo-footer{
  display: inline-flex;
  padding-top: 100px;
  padding-left: 140px;
  flex-direction: column;
}
.logo-footer .logo-toxin{
  margin-bottom: 10px;
}
.footer-p p{
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.menu-footer-nav{
  margin-right: 30px;
}
.menu-footer-nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
.menu-footer-nav ul > li{
  display: inline-block;
}
.menu-footer-nav ul > li > ul {
  display: flex;
  flex-direction: column;
}
.menu-footer-nav .menu-footer-item-main{
  padding-left: 10px;
}
.menu-footer-nav .menu-footer-item-main a {
  display:block;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
 .menu-footer-nav .menu-footer-item a {
  display:block;
  text-decoration:none;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.container-footer-p{
  display: inline-flex;
  margin-left: 140px;
}
.container-footer-p-socmedia{
    display: inline-flex;
    float: right;
    align-items: center;
    margin-right: 120px;
}
.icon-soc-media {
  width: 24px;
  height: 24px;
  padding-right: 20px;
  padding-top: 10px;
}
.container-footer-p p{
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.input-email-text-footer{
  width: 260px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
}
.container-footer-p hr{
  color: rgba(31, 32, 65, 0.05);
}
footer hr{
  color: rgba(31, 32, 65, 0.1);
}
